


h1 {
  font-size: 30px;
  font-family: Berkshire Swash, cursive;
  color: white;
  text-shadow: 2px 2px 4px black;;
}

header p {
  font-size: 15px;
  font-family: Rubik, sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black;
}

nav li {
  list-style-type: none;
  border: black;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 10px;
  font-weight: bold;
}

nav a:hover {
  background-color: rgb(26, 26, 26);
  opacity: 0.8;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 2px 2px 4px black;
}

/* HEADING */

h2 {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 70px;
  font-size: 40px;
  font-family: 'Rubik', sans-serif;
  color: #ffecd1;
  text-shadow: 2px 2px 4px black;
}

/******GRID******/

h3, h4, h5 {
  font-size: 35px;
  color: #78290f;
  margin: 20px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

article p {
  padding: 20px;
  font-size: 16px;
  text-shadow: 1px 1px 1px gray;
  font-family: 'Rubik', sans-serif;
}

article a {
  text-decoration: none;
  color: black;
}

article div:hover {
  opacity: 1;
  transition-duration: 6ms;
  box-shadow: 10px 10px 12px black;
}

h6 {
  font-size: 50px;
  color: #ffecd1;
  text-align: center;
  text-shadow: 2px 2px 4px black;
  font-family: 'Rubik', sans-serif;
}

section p {
  font-size: 18px;
  font-family: 'rubik', sans-serif;
  line-height: 1.8;
}

/********* FOOTER ********/

footer p {
  font-size: 12px;
  font-family: 'rubik', sans-serif;
  color: #001524;
}

input {
  font-size: 12px;
  font-family: 'rubik', sans-serif;
  color: #001524;
  padding: 5px;
  width: 25ch;
} 

label {
  font-size: 15px;
  font-family: 'rubik', sans-serif;
  color: #001524;
  padding: 5px;
  width: 25ch;
  text-shadow: 1px 1px 1px gray;
}

.sub-form p {
  font-size: 18px;
  font-weight: bold;
  color: #001524;
  text-shadow: 1px 1px 1px gray;

}

.sub-form a {
  text-decoration: none;
  color: black;
}