body {
  margin: 0 auto;
  background-color: #001524;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  /* background */
  background-image: 
        url("https://images.unsplash.com/photo-1489710020360-66e504159b43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; 
  box-shadow: 2px 2px 4px black;
  opacity: 0.8 black;
}

logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* shadow cannot be added as this is a box */
}

nav {
  display: flex;
  align-self: flex-start;
}

nav ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}



/******GRID******/

.container {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-auto-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  padding: 15px;
}

.container div {
  /* style */
  background-color: whitesmoke;
  border-color: white;
  border-style: outset;
  text-shadow: 3px 3px 6px white;
  text-align: center;
}


.menu img {
  height: 250px;
  width: 350px;
}

.contact img {
  height: 250px;
  width: 350px;
}

.gallery img {
  height: 250px;
  width: 350px;
}