body {
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 20px 30px 0px 30px;
  background-image: 
        url("https://images.unsplash.com/photo-1489710020360-66e504159b43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}


nav ul {
  display: inline-flex;
  gap: 5rem;
}

